*{
    margin: 0px;
    padding: 0px;
   
}
html{
    background-color: rgba(252, 166, 135, 0.788);
}
header>h1{
    background-color:#ee503bcc;
    text-align: center; 
    font-size: 60px;
    font-family: 'Playpen Sans', cursive;
    color: white;
    text-shadow:4px 4px 0px rgba(15, 15, 15, 0.068);
    background-size: 600px;
    padding: 50px;
}
h2{
    font-size: 40px;
    font-family: 'Sometype Mono', monospace;
    text-align: center;
}
h3{
    font-size: 25px;
    text-align: center;
}
nav{
    text-align: center;
}

.sumario{
    text-align: center;
    display: flex;
    flex-direction: column;
}
div ul li a{
    text-decoration: none;
}
.cm-iniciais{
    /* padding-left: 20px; */
    line-height: 47px
}
.cm-iniciais ul li{
    font-size: 25px;
    /* justify-content: ;
    align-items: ; */
}
.cm-iniciais p{
    font-size:19px;
}
.cm-iniciais-git{
    text-align: center;
}
li{
    font-size: 25px;
    text-align: center;
}
.p1{
    font-size: 20px;
    text-align: center;
}
.comandos-do-git {
    font-size: 20px;
    text-align: center;
}